<ion-header no-border>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../assets/tree.svg" class="auth-img">
        <div class="ion-padding">
            So far we've planted:
            <p>
                <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/" *ngIf="numOfTrees?.length !== ''">{{numOfTrees}}</a>
                trees.</p>
        </div>
        <ion-button (click)="plant()" expand="block" style="--ion-background-color:#22d6a5">
            Plant
        </ion-button>
        <ion-button (click)="logOut()" expand="block" color="danger">
            LOG OUT
        </ion-button>
        <ion-button expand="block" color="tertiary" routerLink="/trees-map">
                MAP
        </ion-button>
        <ion-button expand="block" color="warning" routerLink="/profile">
            Profile
        </ion-button>
        <ion-button expand="block" color="tertiary" routerLink="/user-trees">
            User Trees
        </ion-button>
    </ion-content>